.navbar {
  display: block;
  justify-content: space-between;
  background-color: #ffffffbc;
  color: black;
  text-align: center;
  padding: 15px;
}
.social > i {
  margin: 10px;
}
.links > li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  margin: auto 10px;
}

.logo {
  width: 30px;
  height: 30px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: auto;
  height: 150px;
  position: relative;
  margin: 30px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
