* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../Assets/HomepageImage.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 14%;
  transform: translate(Y) (-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 40px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.content a {
  color: #fff;
}
button {
  width: 100%;
  height: 15px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
  color: orange;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.Socials {
  size: 500cm;
}
.imagecontainer {
  box-sizing: border-box;
  text-align: center;
  border: 3px solid black;
  padding-bottom: 5px;
  height: 210px;
  width: 350px;
  background-color: #e7901e;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

/* Position the image container (needed to position the left and right arrows) */
/* .container {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  border: 3px solid black;
  padding-bottom: 5px;
  height: 210px;
  width: 350px;
  background-color: #e7901e;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
} */

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
#factoftheday {
  text-align: center;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  border: 3px solid black;
  padding-bottom: 5px;
  height: 300px;
  width: 250px;
  background-color: #e7901e;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: -5em;
}
#btn {
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(57, 115, 157);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.15385;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(122, 167, 199);
  border-image: initial;
  margin: 3px;
  outline: groove;
  text-decoration: none;
}
#here {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: white;
  font-size: 17px;
}
