body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#level {
  margin: 20px;
}

#changeLevel {
  margin: 10px;
}

#player1Text {
  margin: 10px;
}
#player2Text {
  margin: 10px;
}
#player3Text {
  margin: 10px;
}
#player4Text {
  margin: 10px;
}
.social > i {
  margin: 15px;
}

.navbar {
  display: block;
  justify-content: space-between;
  background-color: #ffffffbc;
  color: black;
  text-align: center;
  padding: 15px;
}
.social {
  margin: 10px;
}

.links > li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  margin: auto 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

div.about-section {
  background-color: #ffa520;
}
h1 {
  color: #000;
}
p {
  color: #000;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.container {
  padding: 0 16px;
}
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: rgb(234, 156, 11);
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
