body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../Assets/HomepageImage.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

#levels {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto;
}

#levels > * {
  cursor: default;
  border: solid 2px black;
}
